<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

    <description>apache shiro配置</description>

    <bean id="shiroFilter"
        class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager" />
        <property name="loginUrl" value="/login.zhtml" />
        <property name="successUrl" value="/" />
        <property name="unauthorizedUrl" value="/" />
        <property name="filterChainDefinitions">
            <value>
                <!-- 静态资源允许访问 -->
                /static/** = anon
                <!-- 登录页允许访问 -->
                /login.zhtml = anon
                /regist.zhtml = anon
                /teacher/getAllClass = anon
                /logOut.zhtml = logout
                /index.zhtml = anon
                /validateCode = anon
                /checkFace/result.zhtml = anon
                /checkFace/insert = anon
                /checkFace/selectSimilar = anon
                /checkFace/updateByLockId = anon
                <!-- 其他资源需要认证 -->
                /** = authc
            </value>
        </property>
        <property name="filters">
            <util:map>
                <entry key="login" value-ref="login"></entry>
            </util:map>
        </property>
    </bean>

    <!-- 缓存管理器 使用Ehcache实现 -->
    <!-- <bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager"> 
        <property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml" 
        /> </bean> -->

    <!-- 会话DAO -->
    <bean id="sessionDAO"
        class="org.apache.shiro.session.mgt.eis.MemorySessionDAO" />
    
    <!-- 会话管理器 -->
    <bean id="sessionManager"
        class="com.ssm.gbq.config.CustomDefaultWebSessionManager">
        <property name="sessionDAO" ref="sessionDAO" />
    </bean>

    <bean id="login"
        class="com.ssm.gbq.filter.loginFilter"></bean>

    <!-- 安全管理器 -->
    <bean id="securityManager"
        class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realms">
            <list>
                <ref bean="myRealm" />
            </list>
        </property>
        <!-- cacheManager,集合spring缓存工厂 -->
        <!-- <property name="cacheManager" ref="shiroEhcacheManager" /> -->
        <property name="sessionManager" ref="sessionManager" />
    </bean>

    <!-- Shiro生命周期处理器 -->
    <bean id="lifecycleBeanPostProcessor"
        class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

</beans>